:root {
    font-size: 10px;
}
h1{
    font-size: 3rem;
    text-align: center;
}
.hidden-on-desktop {
    background-color: rgb(192 255 255);
    border: 1px solid rgb(204 204 204);
    margin: 0 auto;
    width: 100%;
    height: 4rem;
    text-align: center;
}
.hidden-on-desktop>a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.nav-links {
    margin: auto;
    width: 100%;
}
.nav-links>li{
    background-color: rgb(204 204 204);
    width: 100%;
    list-style: none;
    margin: 1rem 0;
    text-align: center;
    height: 5rem;
    display: inline-block;
}


@media screen and (min-width: 890px) {

}
